SSL_Anti-spoofing/xlsr2_300m.pt
SSL_Anti-spoofing/Dataset_Speech_Assignment.zip
SSL_Anti-spoofing/Dataset1
SSL_Anti-spoofing/Best_LA_model_for_DF.pth
SSL_Anti-spoofing/LA-keys-stage-1
SSL_Anti-spoofing/for-2sec.tar.gz
SSL_Anti-spoofing/for-2seconds
